body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
  padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    
    /* position: fixed; */
    /* background-color: lightgrey; */
   
}

.logo{
    display: flex;
    gap: 10px;
}

.logo img{
    max-height: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; 
    gap: 50px;
}

li {
    margin-left: 100px;
}
.menu{
    display: none;
}

input[type="checkbox"]{
    display: none;
}

input:checked + ul{
    display: block;
}


.navbar a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .navbar a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
  }
  
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: inline-block;
    position: relative;
    color: black;
}

a:hover {
    color: darkblue; 
}


.search-bar {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    /* border-radius: 8px; */
}

.search-bar input {
    padding: 5px;
    margin-right: 5px;
    border: none;
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 20px;
    width: 188px;
    
}
/* .search-bar i{
    background-color: lightgray;
} */
button{
    border: none;
    background-color: white;
}

button i:hover{
    color: royalblue;
}

button i {
    font-size: 20px; 
}

.icons{
    display: flex;
    gap: 20px;
}

.icons i{
    font-size: 20px;   
}

.containe{
    background-image: url(../images/westprof.webp);
    height: 615px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.containe p{
    width: 650px;
    height: 200px;
    /* flex-shrink: 0; */
    color: #FFF;
    text-align: center;
    font-family: Judson;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.where{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.where p{
    color: #000;
    font-family: JejuMyeongjo;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.product{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    color: #000;
    font-family: Kameron;
    font-size: 20px;
    
    /* font-style: normal; */
    /* line-height: normal; */
}

.product h4{
    font-family: JejuMyeongjo;
    font-size: 25px;
   
    
}

.product h3{
    color: #000;
    font-family: 'Metal', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product p{
    max-width: 500px;
}


.pic{
    width: 400px;
    height: 400px;
    background-image: url(../images/gradbear.webp);
    background-position: center;
    background-size: cover;
}

.product p2{
    color: #000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.txt{
    display: flex;
    flex-direction: column;
}
.buynow{
    width: 426.617px;
    height: 76px;
    border-radius: 20px;
    background: #24253C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buynow p{
    color: #FFF;
    font-family: 'Jomolhari', serif;
    font-size: 36px;
    font-style: normal;
    line-height: normal;
}

.fav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.love{
    font-size: 30px;
}

.love input[type="checkbox"] {
    display: none;
  }

  .love i {
    color: lightgray;
  }


  .love input[type="checkbox"]:checked + label i {
    color: red; 
  }


.abtus{
    width: 100%;
    height: 330px;
    background-color: #E4E4E4;
    margin-top: 100px;
}

.rows{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    
}


.abtus h3{
    border-bottom: 1px solid black;
    color: #000;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btmbtm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
}

.btminfo{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.btminfo2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btminfo2 input{
    border: 1px solid black;
    border-radius: 8px;
    height:34px ;
    
}


.sub{
    width: 127px;
    height: 34px;
    border-radius: 8px;
    background: #273A47;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
