
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
  padding: 10px;
}

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    

   
}

.logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}

.logo img{
    max-height: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; 
    gap: 50px;
}

li {
    margin-left: 100px;
}


.navbar a::after{
    content: '';
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    -o-transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  }

  .navbar a:hover::after {
        -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transform-origin: bottom left;
            -ms-transform-origin: bottom left;
                transform-origin: bottom left;
  }
  
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: inline-block;
    position: relative;
    color: black;
}

a:hover {
    color: darkblue; 
}

.search-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.search-bar input {
    padding: 5px;
    margin-right: 5px;
    border: none;
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 20px;
    width: 188px;
    
}

button{
    border: none;
    background-color: white;
}

button i:hover{
    color: royalblue;
}

button i {
    font-size: 20px; 
}

.icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

.icons i{
    font-size: 20px;
    
}

.menu{
    display: none;
}

input[type="checkbox"]{
display: none;
}

    


input:checked ~ ul{
    display: block;
}



.mshobeli{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.container{
  width: 85%;
  background: lightgray;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container .content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 20px;
}

.abtus{
    width: 100%;
    height: 330px;
    background-color: #E4E4E4;
    margin-top: 30px;
}

.rows{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    
}


.abtus h3{
    border-bottom: 1px solid black;
    color: #000;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btmbtm{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 60px;
}

.btminfo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
}

.btminfo2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
}

.btminfo2 input{
    border: 1px solid black;
    border-radius: 8px;
    height:34px ;
    
}


.sub{
    width: 127px;
    height: 34px;
    border-radius: 8px;
    background: #273A47;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FFF;
}

@media (max-width:500px){
    .menu{
        display: block;
        font-size: 40px;
    }
    ul{
        display: none;
    }
    .search-bar, .icons {
        display: none;
    }
   
    .navbar{
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }


   .row1, .btminfo2 {
    display: none;
   }

   .test{
    width: auto;
   }

   
    .content .left-side .details .text-one,
    .content .left-side .details .text-two{
        font-size: 10px;
    }
    
    .container{
        width: 79%;
    }

    #map{
        width: 250px;
    }
    
   
}